<html>
   <head>
	   <title>Code Share: Share your codes!</title>
   </head>
   <body>
	   <h1>Code Share: Share your codes!</h1>
	   <p align=center>
	   <img width=150 src='static/The_GNU_logo.png'/>
	   <p align=center>
	   <form method="GET" action="/create">
		   <button name="create">Create</button>
	   </form>
	   {% if last_added %}
	   <h2>Derniers ajouts</h2>
	   {% for entry in last_added %}
	   <p><a href="/view/{{ entry["uid"] }}">{{ entry["uid"] }}</a>
	   <p><pre>{{ entry["code"] }}</pre>
	   <hr/>
           <p><a href="/delete/{{ entry["uid"] }}">Effacer</a>
	   {% endfor %}
	   {% endif %}
   </body>
</html>
