<html>
   <head>
	   <title>Code Share: Share your codes!</title>
   </head>
   <body>
	   <h1>Code Share: Share your codes!</h1>
	   <p><a href="/">Home</a>	
	   <form>
		 <p align=left>URL: <input name='url' value="{{ url }}">
	   </form>
	   <p align=left>
		   <pre>{{ code }}</pre>
	   </p>
	   <a href="/edit/{{ uid }}">Edit</a></br>
	   <a href="/create">Create New</a>
           <a href="/delete/{{ uid }}">Effacer</a>
   </body>
</html>
